@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 0;
  padding: 0 0;
  font-weight: normal;
  color: #ffb3de;
}

a,
.pink {
  background: #070017;
  font-weight: 500;
  color: #ffb3de;
  line-height: 1.4;
  padding: .25em;
  text-decoration: none;
  
}
.nav_login {
  border-color: #ffb3de;
  border: solid;
  border-radius: 0.5em;
  padding: 0.7rem;
}
.nav_signup {
  background-color: #ffb3de;
  border: solid #ffb3de;
  color: #070017;
  border-radius: 0.5em;
  padding: 0.7rem;
}

@media (hover: hover) {
  .nav_menu_hover:hover {
    background: #070017;
    color: #ffb3de;
    border-bottom: 1px solid;
    
  }
  .nav_login:hover {
    background-color: #1f1b29;
  }
  .nav_signup:hover {
    background-color: #c288a9;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0;
  }
}

